---
import "../styles/reset.css";
import "../styles/global.css";
import { Font } from "astro:assets";

const { title, description } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description}>
    <Font cssVariable="--font-garamond" preload />
    <Font cssVariable="--font-figtree" preload />
</head>
<body class="background">
    <div class="page-stack">
      <slot />
    </div>
    <script>
      import { ensureAstroSwapMotion, initPageMotion } from "../scripts/animations";
      import { ensureAstroSwapBlobFrames } from "../scripts/blobFrames";

      ensureAstroSwapMotion();
      ensureAstroSwapBlobFrames();
      initPageMotion();
    </script>
</body>
</html>